In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
data=pd.read_csv("datasets\\final_dataset.csv")
dataT=pd.read_csv("datasets\\test.csv")
data.head()
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,H,0.444444,0.455696,0.739726,0.826087,0.000000,0.000000,L,W,W,...,0,0,0,1,1,-0.514286,-0.600000,0.000000,0.342857,0.0
1,H,0.580247,0.481013,0.506849,0.855072,0.000000,0.028571,L,D,W,...,0,0,0,0,0,0.285714,-0.600000,-0.028571,-0.028571,-11.0
2,NH,0.728395,0.405063,0.465753,0.666667,0.000000,0.028571,L,L,W,...,0,0,0,1,0,0.714286,-0.400000,-0.028571,0.142857,-16.0
3,H,0.345679,0.594937,0.684932,0.376812,0.085714,0.028571,W,D,L,...,0,0,0,0,0,-0.628571,0.600000,0.057143,0.000000,-5.0
4,H,0.506173,0.493671,0.602740,0.608696,0.085714,0.028571,W,L,D,...,0,0,0,0,0,-0.085714,-0.085714,0.057143,0.142857,7.0

In [3]:
ftrLE=LabelEncoder()
data.FTR=ftrLE.fit_transform(data.FTR)
dataT.FTR=ftrLE.transform(dataT.FTR)
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,0,0.444444,0.455696,0.739726,0.826087,0.000000,0.000000,L,W,W,...,0,0,0,1,1,-0.514286,-0.600000,0.000000,0.342857,0.0
1,0,0.580247,0.481013,0.506849,0.855072,0.000000,0.028571,L,D,W,...,0,0,0,0,0,0.285714,-0.600000,-0.028571,-0.028571,-11.0
2,1,0.728395,0.405063,0.465753,0.666667,0.000000,0.028571,L,L,W,...,0,0,0,1,0,0.714286,-0.400000,-0.028571,0.142857,-16.0
3,0,0.345679,0.594937,0.684932,0.376812,0.085714,0.028571,W,D,L,...,0,0,0,0,0,-0.628571,0.600000,0.057143,0.000000,-5.0
4,0,0.506173,0.493671,0.602740,0.608696,0.085714,0.028571,W,L,D,...,0,0,0,0,0,-0.085714,-0.085714,0.057143,0.142857,7.0

In [4]:
hmLE=LabelEncoder()
data.HM1=hmLE.fit_transform(data.HM1)
dataT.HM1=hmLE.fit_transform(dataT.HM1)
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,0,0.444444,0.455696,0.739726,0.826087,0.000000,0.000000,1,W,W,...,0,0,0,1,1,-0.514286,-0.600000,0.000000,0.342857,0.0
1,0,0.580247,0.481013,0.506849,0.855072,0.000000,0.028571,1,D,W,...,0,0,0,0,0,0.285714,-0.600000,-0.028571,-0.028571,-11.0
2,1,0.728395,0.405063,0.465753,0.666667,0.000000,0.028571,1,L,W,...,0,0,0,1,0,0.714286,-0.400000,-0.028571,0.142857,-16.0
3,0,0.345679,0.594937,0.684932,0.376812,0.085714,0.028571,3,D,L,...,0,0,0,0,0,-0.628571,0.600000,0.057143,0.000000,-5.0
4,0,0.506173,0.493671,0.602740,0.608696,0.085714,0.028571,3,L,D,...,0,0,0,0,0,-0.085714,-0.085714,0.057143,0.142857,7.0

In [5]:
data.HM2=hmLE.fit_transform(data.HM2)
data.HM3=hmLE.fit_transform(data.HM3)
data.HM4=hmLE.fit_transform(data.HM4)
data.HM5=hmLE.fit_transform(data.HM5)
data.AM1=hmLE.fit_transform(data.AM1)
data.AM2=hmLE.fit_transform(data.AM2)
data.AM3=hmLE.fit_transform(data.AM3)
data.AM4=hmLE.fit_transform(data.AM4)
data.AM5=hmLE.fit_transform(data.AM5)

dataT.HM2=hmLE.fit_transform(dataT.HM2)
dataT.HM3=hmLE.fit_transform(dataT.HM3)
dataT.HM4=hmLE.fit_transform(dataT.HM4)
dataT.HM5=hmLE.fit_transform(dataT.HM5)
dataT.AM1=hmLE.fit_transform(dataT.AM1)
dataT.AM2=hmLE.fit_transform(dataT.AM2)
dataT.AM3=hmLE.fit_transform(dataT.AM3)
dataT.AM4=hmLE.fit_transform(dataT.AM4)
dataT.AM5=hmLE.fit_transform(dataT.AM5)

In [6]:
data.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP
0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-15.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,10.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-16.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,-1.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,5.0

In [7]:
print(data.shape)
print(dataT.shape)

(1860, 30)
(800, 30)

In [8]:
onehotencoder=OneHotEncoder()
onehotencoder.fit(data.FTR.reshape(-1,1))

C:\Users\krishna\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [9]:
final=onehotencoder.transform([[each] for each in data.FTR]).toarray()

In [10]:
final.shape

(1860, 2)

In [11]:
finalT=onehotencoder.transform([[each] for each in dataT.FTR]).toarray()

In [12]:
finalT.shape

(800, 2)

In [13]:
data.loc[:,"final1"]=final[:,0]
data.loc[:,"final2"]=final[:,1]

In [14]:
# data=data.drop(["final"],axis=1)
data.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
0,0,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,-15.0,1.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,10.0,0.0,1.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,-16.0,0.0,1.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,-1.0,0.0,1.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,2,...,0,0,0,0.0,0.0,0.0,0.0,5.0,0.0,1.0

In [15]:
dataT.loc[:,"final1"]=finalT[:,0]
dataT.loc[:,"final2"]=finalT[:,1]

In [16]:
# data=data.drop(["final"],axis=1)
dataT.head()

,FTR,HTGS,ATGS,HTGC,ATGC,HTP,ATP,HM1,HM2,HM3,...,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts,DiffLP,final1,final2
0,0,0.444444,0.455696,0.739726,0.826087,0.000000,0.000000,1,3,3,...,0,1,1,-0.514286,-0.600000,0.000000,0.342857,0.0,1.0,0.0
1,0,0.580247,0.481013,0.506849,0.855072,0.000000,0.028571,1,0,3,...,0,0,0,0.285714,-0.600000,-0.028571,-0.028571,-11.0,1.0,0.0
2,1,0.728395,0.405063,0.465753,0.666667,0.000000,0.028571,1,1,3,...,0,1,0,0.714286,-0.400000,-0.028571,0.142857,-16.0,0.0,1.0
3,0,0.345679,0.594937,0.684932,0.376812,0.085714,0.028571,3,0,1,...,0,0,0,-0.628571,0.600000,0.057143,0.000000,-5.0,1.0,0.0
4,0,0.506173,0.493671,0.602740,0.608696,0.085714,0.028571,3,1,0,...,0,0,0,-0.085714,-0.085714,0.057143,0.142857,7.0,1.0,0.0

In [79]:
dataT[["final1","final2"]].values.shape

(800, 2)

In [18]:
data=data.drop(["HM5","AM5"],axis=1)
dataT=dataT.drop(["HM5","AM5"],axis=1)

In [19]:
print(data.shape)
print(dataT.shape)

(1860, 30)
(800, 30)

In [20]:
data.to_csv("allAtt_onehot_large_train.csv",index=None)
dataT.to_csv("allAtt_onehot_large_test.csv",index=None)